@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IRANSansWeb.eot');
    src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), url('fonts/IRANSansWeb.woff2') format('woff2'), url('fonts/IRANSansWeb.woff') format('woff'), url('fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IRANSansWeb(FaNum).eot');
    src: url('fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('fonts/IRANSansWeb(FaNum).woff2') format('woff2'), url('fonts/IRANSansWeb(FaNum).woff') format('woff'), url('fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IRANSans';
    color: #54616a;
    font-size: 14px
}

p a {
    color: #3669ab !important
}

a:link,
a:hover {
    text-decoration: none;
    outline: 0 !important
}

p a:link,
p a:hover {
    color: #D41C58 !important
}

i,
span,
label,
a {
    display: inline-block;
    font-weight: normal;
}

ul {
    list-style: none !important;
    list-style-type: none !important;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%
}

a,
p a,
i,
input[type="submit"],
form button,
.top-nav .responsive-point,
.multi-checkbox-in-row .checkbox-option label:before,
.checkbox-layer .checkbox-option label:before,
.multi-radio-in-row .radio-option label:before {
    outline: medium none;
    text-decoration: none;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s
}

.form-style .submit-button:before,
.application-button a:before,
.form-style .input-icn span:before,
.form-style .textarea-icn span:before,
.form-style .input-icn span:after,
.form-style .textarea-icn span:after,
aside .aside-section>.inner ul li a:before {
    outline: medium none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s
}

.top-nav .right-side nav ul:after,
.top-nav .left-side .clientarea:after,
footer .top-footer .inner ul:after,
.namad-layer:after,
.heading-page:after,
.multi-checkbox-in-row:after,
.multi-radio-in-row:after,
.pagination-layer .inner:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0
}

.heading-page {
    width: 100%;
    padding: 25px 0;
    position: relative;
    background: url('../images/heading.jpg') no-repeat top center;
    background-size: cover;
    border-bottom: 3px solid #e5ecf0
}

.heading-page .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    margin: 19px 0
}

.heading-page .breadcrumb a {
    font-size: 18px;
    color: #122D50;
    position: relative;
    padding-left: 2px;
    line-height: 25px
}

.heading-page .breadcrumb a:after {
    position: absolute;
    width: 1px;
    height: 18px;
    left: -10px;
    top: 4px;
    content: '';
    background-color: #122D50;
    transform: rotate(20deg);
}

.heading-page .breadcrumb li:last-child a:after {
    display: none
}

.heading-page .breadcrumb a:hover {
    color: #3669ab
}

.heading-page .application-button {
    width: auto;
    display: table;
    float: left;
}

.top-nav {
    background-color: #f8f8f8;
    padding: 6px 0;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 48px;
}

.top-nav .container {
    position: relative;
}

.top-nav .responsive-point {
    position: absolute;
    left: 15px;
    top: -6px;
    font-size: 36px;
    color: #fff;
    display: none;
    z-index: 2
}

.top-nav .responsive-point:hover {
    cursor: pointer;
    color: #3669ab
}

.top-nav .right-side {
    width: 70%;
    float: right;
    position: relative;
    padding-right: 0px;
}

.top-nav .right-side .logo {
    width: 125px;
    float: right;
    right: 0px;
    top: -8px;
    text-align: right;
    margin-left: 100px;
}

.top-nav .right-side nav ul li {
    float: right;
    margin-left: 20px;
    margin-top: 5px;
}

.top-nav .right-side nav ul li a {
    padding: 0 10px;
    font-size: 16px;
    color: #122d50;
    line-height: 48px;
    font-weight: bolder;
}

.top-nav .left-side {
    width: 30%;
    padding-right: 15px;
    float: left;
    position: relative;
    padding-top: 8px
}

.top-nav .left-side .clientarea a {
    font-size: 14px;
    color: #464646;
    padding-right: 20px;
    line-height: 30px;
    width: auto;
    min-width: 60px;
    float: left;
    padding-top: 5px;
}

.top-nav .left-side .clientarea a i {
    font-size: 21px;
    margin-left: 3px;
    position: relative;
    top: 3px;
    color: #3669ab
}

.top-nav .left-side .clientarea a:hover,
.top-nav .right-side nav ul li a:hover {
    color: #d41c58
}

.landing-layer {
    width: 100%;
    padding: 35px 0;
    position: relative;
    background: url('../images/landing.jpg') no-repeat top center;
    background-size: cover;
}

.landing-layer .map-layer {
    width: 60%;
    float: right;
    position: relative;
    padding: 55px 0
}

.landing-layer .map-layer .start-point i {
    font-size: 75px;
    color: #122D50;
    position: absolute;
    top: 220px;
    right: 0
}

.landing-layer .map-layer .map-bars {
    position: relative;
    right: 50px;
    opacity: 0.8
}

.landing-layer .left-side {
    width: 40%;
    float: left;
    position: relative;
}

.form-style {
    position: relative;
}

.form-style .input-lbl {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 12px
}

.form-style .input-lbl input {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 65px 0 25px;
    border: 1px solid #d3e0e7;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    z-index: 1;
    font-size: 13px
}

.form-style .input-lbl i {
    position: absolute;
    font-size: 28px;
    color: #c7d9e2;
    right: 20px;
    top: 0;
    width: 35px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-left: 1px solid #d3e0e7;
    z-index: 2;
    padding-left: 15px
}

.form-style .input-lbl i.zmdi-email {
    font-size: 24px;
    padding-top: 1px
}

.form-style .input-lbl i.zmdi-smartphone-android {
    font-size: 24px
}

.form-style .input-icn,
.form-style .selected-layer {
    width: 100%;
    position: relative;
    height: 40px;
    margin-bottom: 30px;
}

.form-style .input-icn input,
.form-style .selected-layer select {
    width: 100%;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #d1dee7;
    font-size: 13px;
    padding: 0 12px;
    z-index: 1;
    line-height: 40px;
    height: 40px
}

.form-style .input-icn span,
.form-style .textarea-icn span {
    min-width: 38px;
    padding: 0 3px;
    position: absolute;
    left: 25px;
    top: -8px;
    background-color: #fff;
    font-size: 17px;
    color: #c5d6de;
    z-index: 2;
    line-height: 20px;
    height: 20px;
    text-align: center;
}

.form-style .input-icn span i,
.form-style .textarea-icn span i {
    position: relative;
    top: -2px
}

.form-style .input-icn span:before,
.form-style .textarea-icn span:before {
    position: absolute;
    left: -5px;
    top: 5px;
    width: 7px;
    height: 7px;
    background-color: #d2dfe8;
    z-index: 2;
    content: '';
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.form-style .input-icn span:after,
.form-style .textarea-icn span:after {
    position: absolute;
    right: -5px;
    top: 5px;
    width: 7px;
    height: 7px;
    background-color: #d2dfe8;
    z-index: 2;
    content: '';
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.form-style .input-icn input:focus+span:before,
.form-style .textarea-icn textarea:focus+span:before,
.form-style .input-icn input:focus+span:after,
.form-style .textarea-icn textarea:focus+span:after {
    background-color: #D41C58
}

.form-style .input-icn input:focus+span,
.form-style .textarea-icn textarea:focus+span {
    color: #D41C58
}

.form-style .two-col {
    width: 49%;
    float: right;
}

.form-style .two-col:nth-child(2n+0) {
    margin-right: 2%
}

.form-style .textarea-icn {
    width: 100%;
    position: relative;
    height: 100px;
    margin-bottom: 30px
}

.form-style .textarea-icn textarea {
    width: 100%;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #d1dee7;
    font-size: 13px;
    padding: 12px;
    z-index: 1;
    line-height: 22px;
    height: 100px;
    resize: none
}

.form-style .submit-button {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    color: #fff;
    border: 0;
    font-size: 16px;
    overflow: hidden;
    margin: 5px 0;
    z-index: 2
}

.form-style .submit-button span {
    position: relative;
    z-index: 2
}

.form-style .submit-button:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    content: '';
    z-index: 1;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
}

.form-style .submit-button i {
    font-size: 19px;
    position: relative;
    top: 2px;
    margin-right: 4px
}

.form-style .submit-button i.zmdi-plus {
    font-size: 21px;
    position: relative;
    top: 4px;
    margin-left: 8px
}

.form-style .submit-button.blue {
    background-color: #3669ab
}

.form-style .submit-button.blue:before {
    background-color: #165ab1;
}

.form-style .submit-button.orange {
    background-color: #f5791e
}

.form-style .submit-button.orange:before {
    background-color: #e6731f
}

.form-style .submit-button.green {
    background-color: #8ac81f
}

.form-style .submit-button.green:before {
    background-color: #81bb1c
}

.form-style .submit-button.red {
    background-color: #D41C58
}

.form-style .submit-button.red:before {
    background-color: #C00844
}

.form-style .submit-button:hover:before {
    width: 100%
}

.form-style .submit-button.square,
.form-style .submit-button.square:before {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.multi-checkbox-in-row {
    margin: 7px 0;
    position: relative;
}

.multi-checkbox-in-row .checkbox-option {
    width: auto;
    float: right;
    display: table;
    margin: 5px 0 5px 25px;
    position: relative;
}

.multi-checkbox-in-row .checkbox-option input,
.checkbox-layer .checkbox-option input {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.multi-checkbox-in-row .checkbox-option label,
.checkbox-layer .checkbox-option label {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-right: 27px;
}

.multi-checkbox-in-row .checkbox-option label:before,
.checkbox-layer .checkbox-option label:before {
    width: 17px;
    height: 17px;
    line-height: 15px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #d1dce2;
    position: absolute;
    right: 0;
    top: 0;
    content: '\f26b';
    color: #fff;
    font-family: 'Material-icon';
}

.multi-checkbox-in-row .checkbox-option input:checked+label:before,
.checkbox-layer .checkbox-option input:checked+label:before {
    content: '\f26b';
    color: #8ac81f;
    font-weight: bold;
    border-color: #8ac81f
}

.multi-checkbox-in-row .checkbox-option:hover label:before,
.checkbox-layer .checkbox-option:hover label:before {
    content: '\f26b';
    color: #e3eaee;
    font-weight: bold;
    border-color: #e3eaee
}

.checkbox-layer {
    margin: 7px 0;
    position: relative;
}

.checkbox-layer .checkbox-option {
    display: block;
    margin: 4px 0 4px 25px;
    position: relative;
}

.multi-radio-in-row,
.radio-layer {
    position: relative;
    margin: 7px 0
}

.multi-radio-in-row .radio-option {
    float: right;
    display: table;
    position: relative;
}

.radio-layer .radio-option {
    display: table;
    margin: 5px 0 5px 25px;
    position: relative;
}

.multi-radio-in-row .radio-option input,
.radio-layer .radio-option input {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.multi-radio-in-row .radio-option label,
.radio-layer .radio-option label {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-right: 27px;
}

.multi-radio-in-row .radio-option label:before,
.radio-layer .radio-option label:before {
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #c3d1d8;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    color: #fff;
    font-size: 17px;
    font-family: 'kbk';
}

.multi-radio-in-row .radio-option label:hover:before,
.radio-layer .radio-option label:hover:before {
    color: #cedbe2;
    content: '\f123';
    border: 0;
}

.multi-radio-in-row .radio-option input:checked+label:before,
.radio-layer .radio-option input:checked+label:before {
    color: #83be1e;
    content: '\f123';
    border: 0;
}

.address-layer {
    width: 100%;
    padding: 25px 0;
    background-color: #122D50
}

.address-layer .application-button {
    width: auto;
    display: table;
    float: left;
}

.address-layer .application-button a {
    background-color: #1172bd
}

.address-layer .address-text p {
    font-size: 16px;
    word-spacing: -2px;
    color: #fff;
    line-height: 23px;
    padding: 10px 0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.address-layer .address-text a {
    font-size: 18px;
    color: #fff;
    line-height: 23px;
    padding: 5px 0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.address-layer .address-text a i {
    font-size: 24px;
    margin-right: 10px;
    direction: ltr;
    text-align: left;
    font-style: normal;
    position: relative;
    top: 1px
}

footer .top-footer {
    padding: 35px 0
}

footer .top-footer .inner {
    position: relative;
}

footer .top-footer .inner ul li {
    float: right;
    width: 50%;
}

footer .top-footer .inner ul li a {
    display: block;
    width: 100%;
    padding: 4px 13px 5px;
    font-size: 14px;
    line-height: 24px;
    color: #536c80;
    position: relative;
}

footer .top-footer .inner ul li a:before {
    position: absolute;
    right: 0;
    top: 5px;
    content: '\f19b';
    font-family: 'Material-icon';
    font-size: 17px;
    color: #a9c0cb;
}

footer .top-footer .inner ul li a:hover,
footer .top-footer .inner ul li a:hover:before {
    color: #f60
}

footer .top-footer .inner.center {
    padding-left: 40px
}

.application-link-layer p {
    color: #536c80;
    line-height: 22px;
    text-align: justify;
    font-size: 15px;
}

.application-link-layer form {
    margin: 20px 0 40px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #c5dbe6;
}

.application-link-layer form input {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 30px 0 100px;
    line-height: 50px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.application-link-layer form button {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    background-color: #8ac81f;
    padding: 0 25px;
    border: 0;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    z-index: 2
}

.application-link-layer form button:hover {
    background-color: #7bb31b
}

footer .top-footer .inner .namad-layer a {
    width: 33.33%;
    float: left;
    position: relative;
    text-align: center;
}

footer .top-footer .inner .certificate-layer {
    width: 100%;
    position: relative;
}

footer .top-footer .inner .certificate-layer>span {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 35px;
    text-align: center;
}

footer .top-footer .inner .certificate-layer .certificate-carousel .item {
    padding: 0 20px
}

footer .top-footer .inner .certificate-layer .certificate-carousel a {
    width: 150px;
    display: block;
    margin: 0 auto
}

footer .top-footer .inner .certificate-layer .certificate-carousel a img {
    width: 145px;
    display: block;
}

footer .top-footer .inner .certificate-layer .owl-nav>div {
    position: absolute;
    top: 38%;
    font-size: 38px;
    color: #d3e0e7;
    width: 25px;
    height: 25px
}

footer .top-footer .inner .certificate-layer .owl-nav>.owl-prev {
    left: 0
}

footer .top-footer .inner .certificate-layer .owl-nav>.owl-next {
    right: 8px
}

footer .bottom-footer {
    padding: 20px 0;
    border-top: 1px solid #e0ebf0
}

footer .bottom-footer p {
    padding: 3px 0;
    font-size: 13px;
    line-height: 22px;
    word-spacing: -1px;
    text-align: center;
}

footer .bottom-footer .socials {
    width: auto;
    display: table;
    margin: 5px auto 15px
}

footer .bottom-footer .socials a {
    width: 36px;
    height: 36px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #122D50;
    margin: 0 3px;
    text-align: center;
}

footer .bottom-footer .socials a img {
    width: 19px;
    position: relative;
    top: -3px;
}

footer .bottom-footer .socials a:hover {
    background-color: #D41C58
}

.overlay {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    width: 100%;
    height: 100%;
    display: none
}

.overlay .responsive-menu {
    position: fixed;
    right: -240px;
    top: 0;
    width: 240px;
    height: 100%;
    background-color: #122D50;
    z-index: 2200;
    padding-bottom: 25px;
}

.overlay .responsive-menu .heading {
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    padding: 0 20px;
    background-color: #1c3d68;
    position: relative;
    margin-bottom: 15px
}

.overlay .responsive-menu .heading>span {
    color: #fff
}

.overlay .responsive-menu .heading .zmdi-close {
    font-size: 21px;
    position: absolute;
    left: 15px;
    top: 13px;
    color: #617e94
}

.overlay .responsive-menu .heading .zmdi-close:hover {
    cursor: pointer;
    color: #fff
}

.overlay .responsive-menu .inner {
    padding: 0 20px 5px 25px;
    margin: 5px 0
}

.overlay .responsive-menu nav ul {
    padding-bottom: 20px;
    border-bottom: 1px solid #1c3d68
}

.overlay .responsive-menu nav ul li {
    width: 100%;
    display: block;
    padding: 5px 0;
}

.overlay .responsive-menu nav ul li a {
    width: 100%;
    display: block;
    color: #fff
}

.overlay .responsive-menu .clientarea {
    padding: 20px 0 0
}

.overlay .responsive-menu .clientarea a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 0 0 10px
}

.overlay .responsive-menu a:hover {
    color: #67a9db;
    padding-right: 5px
}

.application-button {
    margin-top: 15px
}

.application-button a {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    position: relative;
    background-color: #3669ab;
    color: #fff;
    padding: 9px 26px 5px 60px;
    margin-bottom: 10px;
    overflow: hidden;
}

.application-button a:before {
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    background-color: #417cc8;
    z-index: 1;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.application-button a:active:before,
.application-button a:hover:before {
    width: 100%;
}

.application-button a.ios-app {
    margin-right: 13px
}

.application-button a.android-app i {
    position: absolute;
    font-size: 31px;
    left: 23px;
    top: 9px;
    z-index: 2
}

.application-button a.ios-app img {
    position: absolute;
    left: 20px;
    top: 6px;
    z-index: 2
}

.application-button a span {
    text-align: left;
    font-size: 13px;
    display: block;
    line-height: 17px;
    position: relative;
    z-index: 2
}

.accordion-layer {
    padding-right: 10px
}

.accordion-layer>.inner {
    position: relative;
    border-right: 3px solid #e5ecf0;
    padding-right: 28px;
}

.accordion-layer>.inner article {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    top: -15px
}

.accordion-layer>.inner article h2 {
    position: relative;
    line-height: 23px;
    padding: 10px 0;
    font-size: 16px;
    word-spacing: -1px;
    width: 100%;
    color: #3669ab
}

.accordion-layer>.inner article h2:hover {
    cursor: pointer;
}

.accordion-layer>.inner article h2 i {
    font-size: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid #e5ecf0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    line-height: 27px;
    text-align: center;
    background-color: #f3f7fa;
    position: absolute;
    right: -44px;
    z-index: 2;
    top: 5px;
    padding-left: 2px;
    color: #889ba9
}

.accordion-layer>.inner article h2 i:hover {
    border: 2px solid #D41C58;
    background-color: #fff;
    color: #D41C58;
    cursor: pointer;
}

.accordion-layer>.inner .open h2 i {
    border: 2px solid #D41C58;
    background-color: #fff;
    color: #D41C58;
    cursor: pointer;
}

.accordion-layer>.inner .open h2 {
    color: #D41C58;
}

.accordion-layer>.inner article .text {
    line-height: 25px;
    text-align: justify;
    padding-top: 5px;
    display: none
}

.page-style {
    padding: 30px 0
}

aside .submit-request {
    width: 100%;
    margin-bottom: 20px;
    line-height: 45px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #8ac81f;
    text-align-last: center;
}

aside .how-to-work {
    width: 100%;
    margin-bottom: 20px;
    line-height: 45px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #3669ab;
    text-align-last: center;
}

.section-style {
    border: 1px solid #e5ecf0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(229, 236, 240, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(229, 236, 240, 1);
    box-shadow: 0px 0px 5px 0px rgba(229, 236, 240, 1);
}

aside .aside-section .form-style p {
    padding: 5px 0 20px;
    line-height: 25px
}

aside .aside-section {
    width: 100%;
    margin-bottom: 25px;
    overflow: hidden;
}

aside .aside-section>header {
    width: 100%;
    padding: 7px 20px 5px;
    position: relative;
    overflow: hidden;
}

aside .aside-section>header h3 {
    font-size: 15px;
    font-weight: bold;
    color: #4e626e;
    line-height: 35px
}

aside .aside-section>header h2 {
    font-size: 15px;
    font-weight: bold;
    color: #3669ab;
    line-height: 33px;
    position: relative;
    padding-right: 8px
}

aside .aside-section>header h2:before {
    position: absolute;
    height: 4px;
    right: -21px;
    background-color: #3669ab;
    content: '';
    width: 17px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    top: 15px
}

aside .aside-section>header i {
    font-size: 28px;
    color: #dae2e7;
    position: absolute;
    left: 20px;
    top: 9px
}

aside .aside-section>header:hover {
    cursor: pointer;
}

aside .aside-section>header:hover i {
    color: #b1c2cc;
}

aside .aside-section>.inner {
    padding: 12px 20px;
    border-top: 1px solid #e5ecf0;
}

aside .aside-section .user-logged-in {
    padding-bottom: 5px
}

aside .aside-section>.inner>ul>li>a,
aside .aside-section>.inner>ul li span {
    font-size: 14px;
    word-spacing: -1px;
    line-height: 23px;
    padding: 5px 12px 5px 0;
    position: relative;
    color: #68757e;
    width: 100%;
    display: block;
}

aside .aside-section>.inner>ul li ul {
    padding-right: 14px
}

aside .aside-section>.inner>ul li ul li a {
    font-size: 13px;
    line-height: 20px;
    padding: 3px 0;
    color: #808D96
}

aside .aside-section .user-logged-in ul li a {
    font-size: 14px;
    word-spacing: -1px;
    line-height: 23px;
    padding: 5px 0;
    position: relative;
    color: #68757e
}

aside .aside-section .user-logged-in ul li a i {
    position: relative;
    top: 2px;
    width: 30px;
    color: #ccd9e2;
    text-align: right;
    font-size: 23px
}

aside .aside-section .user-logged-in ul li a i.kbk-interface-3 {
    right: -1px
}

aside .aside-section .user-logged-in ul li a i.zmdi-power {
    font-size: 25px;
    position: relative;
    right: 2px;
    top: 4px
}

aside .aside-section .user-logged-in ul li a i.kbk-mailbox {
    top: 4px
}

aside .aside-section .user-logged-in ul li a:hover,
aside .aside-section .user-logged-in ul li a:hover i {
    color: #3669ab;
}

aside .aside-section>.inner>ul>li>a:before,
aside .aside-section>.inner>ul li span:before {
    position: absolute;
    content: '\f19b';
    font-family: 'Material-icon';
    color: #d2dde3;
    right: 0;
    top: 5px;
    font-size: 21px
}

aside .aside-section>.inner>ul>li>a:hover {
    color: #3669ab;
    padding-right: 15px
}

aside .aside-section>.inner>ul>li ul li a:hover {
    color: #3669ab;
    padding-right: 5px
}

aside .aside-section>.inner>ul>li>a:hover:before {
    color: #3669ab;
}

.page-content {
    position: relative;
    margin-bottom: 25px
}

.page-content>header {
    width: 100%;
    padding: 12px 25px 10px;
    position: relative;
    border-bottom: 1px solid #e5ecf0;
}

.page-content>header h1 {
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    word-spacing: -1px;
    padding: 8px 0
}

.page-content>header h1 a {
    color: #4e626e
}

.page-content>header .left-content {
    position: absolute;
    left: 25px;
    top: 20px
}

.page-content>header .left-content span {
    margin-right: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #96acb9
}

.page-content>header .left-content span i {
    margin-right: 2px;
    font-size: 16px;
    color: #b1c2cc;
    position: relative;
    top: 2px
}

.page-content article {
    padding: 18px 25px;
    position: relative;
}

.page-content article p {
    padding: 10px 0;
    line-height: 26px;
    font-size: 14px;
    color: #5d676e;
    text-align: justify;
}

.page-content article p a {
    color: #3669ab
}

.page-content article ul {
    margin: 10px 0
}

.page-content article ul li {
    line-height: 23px;
    padding: 3px 12px;
    position: relative;
}

.page-content article ul li:before {
    position: absolute;
    content: '\f2f4';
    font-family: 'Material-icon';
    color: #d2dde3;
    right: 0;
    top: 3px;
    font-size: 18px;
}

table {
    margin: 25px 0
}

.page-content article h2 {
    font-size: 18px;
    word-spacing: -1px;
    line-height: 25px;
    padding: 15px 0 0;
    color: #3669ab
}

.page-content article h3 {
    font-size: 16px;
    word-spacing: -1px;
    line-height: 25px;
    padding: 15px 0 0;
    color: #82bc1e
}

.pagination-layer {
    padding: 0;
    position: relative;
    margin-bottom: 25px
}

.pagination-layer .inner {
    padding: 15px;
    position: relative;
}

.pagination-layer .next-page,
.pagination-layer .prev-page {
    position: absolute;
    top: 19px;
    border: 1px solid #c0c3d1;
    border-bottom: 3px solid #c0c3d1;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #fff;
    padding: 0 15px;
    font-size: 13px;
    color: #383a43;
    line-height: 35px;
    height: 35px;
}

.pagination-layer .next-page {
    right: 15px
}

.pagination-layer .prev-page {
    left: 15px
}

.pagination-layer .pages {
    width: auto;
    display: table;
    margin: 0 auto;
}

.pagination-layer .pages a {
    border: 1px solid #c0c3d1;
    border-bottom: 3px solid #c0c3d1;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #fff;
    padding: 0 4px;
    font-size: 15px;
    color: #383a43;
    text-align: center;
    min-width: 35px;
    white-space: nowrap;
    margin: 4px;
    line-height: 35px;
    height: 35px;
}

.pagination-layer a.current,
.pagination-layer a:hover {
    border-color: #D41C58;
    color: #D41C58
}

.alert {
    margin-bottom: 25px
}

.alert.alert-warning a {
    color: #8a6d3b !important
}

.alert.alert-danger a {
    color: #a94442 !important
}

.alert.alert-success a {
    color: #3c763d !important
}

.alert.alert-info a {
    color: #31708f !important
}

.sticky {
    background-color: #e2e2e2;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    box-shadow: 0 0 10px #c6d4df;
    -moz-box-shadow: 0 0 10px #c6d4df;
    -webkit-box-shadow: 0 0 10px #c6d4df;
}

@media screen and (max-width:1199px) {
    footer .top-footer .inner.center {
        padding-left: 0
    }
    .application-link-layer p {
        font-size: 14px;
        word-spacing: -1px
    }
    .address-layer .address-text p {
        font-size: 15px
    }
    .address-layer .address-text a {
        font-size: 16px
    }
}

@media screen and (max-width:991px) {
    .cd-hero__content.cd-hero__content--half-width h2 {
        margin: 0 !important;
    }
    .cd-hero__content.cd-hero__content--half-width .application-link-layer form {
        width: 100%;
    }
    .application-link-layer {
        margin-top: 14px !important;
    }
    .application-button {
        margin-top: 8px !important;
    }
    ul.cd-hero__slider .application-link-layer p {
        margin-top: 5px !important;
        margin-bottom: 10px !important;
    }
    .top-nav .right-side nav {
        display: none;
    }
    .medr {
        width: 100% !important;
    }
    .medl {
        width: 100% !important;
        background-position: 0px 100% !important;
    }
    ul.viz li {
        width: 100% !important;
    }
    ul.viz {
        margin: 3% auto 25% !important;
    }
    .top-nav .right-side {
        width: 45%;
    }
    .cd-hero__content.cd-hero__content--bg-video {
        top: 30px !important;
    }
    .address-layer .application-button a {
        padding-left: 65px
    }
    .top-nav .responsive-point,
    .address-layer .application-button a i {
        display: block;
    }
    .address-layer .application-button {
        float: none;
        width: auto;
        margin: 25px auto 0;
        display: table
    }
    .address-layer .address-text p,
    .address-layer .address-text a {
        text-align: center;
        display: block;
    }
    .application-link-layer p {
        font-size: 13px
    }
    .top-nav .left-side {
        width: 55%;
        padding-left: 45px;
        padding-top: 0px
    }
    span.responsive-point {
        padding-top: 13px;
    }
    .heading-page {
        padding: 0
    }
    .heading-page .breadcrumb a {
        font-size: 15px
    }
    .top-nav {
        padding: 11px 0 0 0;
    }
    .top-nav .right-side .logo {
        top: -16px
    }
}

@media screen and (max-width:767px) {
    .application-link-layer {
        margin-top: 25px
    }
    .application-link-layer p {
        font-size: 14px
    }
    footer .top-footer .inner.center {
        border-top: 2px solid #e6eff4;
        margin-top: 25px
    }
    footer .bottom-footer p {
        font-size: 13px;
        text-align: justify;
    }
}

@media screen and (max-width:580px) {
    .pagination-layer {
        height: 75px
    }
    .pagination-layer .pages {
        display: none
    }
}

@media screen and (max-width:470px) {
    .form-style .two-col {
        width: 100%;
        float: none;
    }
    .form-style .two-col:nth-child(2n+0) {
        margin-right: 0
    }
}

@media screen and (max-width:450px) {
    .top-nav .left-side .clientarea a {
        min-width: 25px;
        position: relative;
        top: 2px
    }
    .top-nav .left-side .clientarea a span {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .address-layer .application-button a {
        padding-left: 28px
    }
    .address-layer .application-button a img,
    .address-layer .application-button a i {
        display: none;
    }
    footer .top-footer .inner ul li {
        width: 100%;
        float: none
    }
    footer .top-footer .inner .namad-layer a {
        padding: 0 15px
    }
}

.each-row p,
.each-row h4 {
    line-height: 2;
}

a.logo img {
    max-width: 100%;
}

.about-text ul li,
.uleditor li {
    list-style-type: disc;
    line-height: 2;
}

.cd-hero__content.cd-hero__content--half-width .application-link-layer p {
    color: #fff;
}

label.horn {
    margin-bottom: 30px;
}

i.zmdi.zmdi-view-headline {
    color: #3569ab !important;
}

@media screen and (max-width:767px) {
    .cd-hero__content.cd-hero__content--half-width form {
        margin: 20px auto !important;
        width: 85% !important;
    }
    .cd-hero__content.cd-hero__content--full-width,
    .cd-hero__content.cd-hero__content--half-width {
        padding-top: 20px !important;
    }
    .cd-hero__content.cd-hero__content--half-width h2 {
        margin: 0 auto !important;
    }
    .cd-hero__content.cd-hero__content--half-width .application-button {
        margin-top: 30px !important;
    }
    .cd-hero__content.cd-hero__content--half-width .application-link-layer {
        margin-top: 30px !important;
    }
}