<div class="main-part wallet-part">

  <div class="order-form-part">
      <div class="order-form">
          <div class="title-spa">فرم ثبت سفارش</div>
          <button class="fav-form-admin btn btn-success"><i class="fa fa-bookmark"></i>لیست آدرس های منتخب</button>
          <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
              <div class="order-form-field">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h3 class="titr-order-form">مبدا</h3>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <input type="text" placeholder="شماره تلفن" name="senderPhoneNumber" [(ngModel)]="Origin.senderPhoneNumber" #senderPhoneNumber="ngModel" required  />
                      <div *ngIf="f.submitted && senderPhoneNumber.invalid" class="invalid-feedback">
                        <div *ngIf="senderPhoneNumber.errors.required" class="error-webapp">شماره همراه را وارد کنید</div>
                    </div>
                    </div>
              

                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                      <textarea placeholder="آدرس فرستنده" name="street" [(ngModel)]="Origin.street" #street="ngModel" required></textarea>
                      <div *ngIf="f.submitted && street.invalid" class="invalid-feedback">
                        <div *ngIf="street.errors.required" class="error-webapp">ادرس فرستنده</div>
                    </div>
                    </div>

                 

              </div>


              <div class="order-form-field">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h3 class="titr-order-form">مقصد</h3>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <select (change)="SelectProvince($event.target.value)" #ProvinceSelect name="province"  [(ngModel)]="destinationModel.province">             
                          <!-- <option *ngFor="let item of Provinces" value="{{item}}">  {{item}} </option> -->
                          <option   value='استان'> استان </option>
                          <option   value='آذربایجان شرقی'>  آذربایجان شرقی </option>
                          <option   value='آذربایجان غربی'>  آذربایجان غربی </option>
                          <option   value='اردبیل'>  اردبیل </option>
                          <option   value='اصفهان'>  اصفهان </option>
                          <option   value='البرز'>  البرز </option>
                          <option   value='ایلام'>  ایلام </option>
                          <option   value='بوشهر'>  بوشهر </option>
                          <option   value='چهارمحال بختیاری'>  چهارمحال بختیاری </option>
                          <option   value='خراسان جنوبی'>  خراسان جنوبی </option>
                          <option   value='خراسان رضوی'>  خراسان رضوی </option>
                          <option   value='خراسان شمالی'>  خراسان شمالی </option>
                          <option   value='خوزستان'>  خوزستان </option>
                          <option   value='زنجان'>  زنجان </option>
                          <option   value='سمنان'>  سمنان </option>
                          <option   value='سیستان و بلوچستان'>  سیستان و بلوچستان </option>
                          <option   value='فارس'>  فارس </option>
                          <option   value='قزوین'>  قزوین </option>
                          <option   value='قم'>  قم </option>
                          <option   value='گلستان'>  گلستان </option>
                          <option   value='گیلان'>  گیلان </option>
                          <option   value='لرستان'>  لرستان </option>
                          <option   value='مازندران'>  مازندران </option>
                          <option   value='مرکزی'>  مرکزی </option>
                          <option   value='هرمزگان'>  هرمزگان </option>
                          <option   value='همدان'>  همدان </option>
                          <option   value='کردستان'>  کردستان </option>
                          <option   value='کرمان'>  کرمان </option>
                          <option   value='کرمانشاه'>  کرمانشاه </option>
                          <option   value='کهگیلویه و بویراحمد'>  کهگیلویه و بویراحمد </option>
                          <option   value='یزد'>  یزد </option>
                      </select>
                      <div *ngIf="f.submitted &&  (destinationModel.province=='استان' || destinationModel.province==undefined)" class="error-webapp error-webapp3"> استان را وارد کنید </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <select (change)="SelectCity($event.target.value)" [(ngModel)]="destinationModel.city" name="city">            
                        <option   value='شهر'>  شهر </option>
                          <option *ngFor="let city of Cities" value="{{city.name}}">{{city.name}}</option>
                      </select>
                      <div *ngIf="f.submitted &&  (destinationModel.city=='شهر' || destinationModel.city==undefined)" class="error-webapp error-webapp3">شهر را وارد کنید </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                      <select (change)="SelectType($event.target.value)">
                          <option value="-1">نوع ارسال</option>
                          <option value="0">درب به درب</option>
                          <option value="1">ترمینال</option>
                      </select>

                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                      <input autocomplete="off" type="text" class="name-destition" placeholder="نام و نام خانوادگی گیرنده" [(ngModel)]="destinationModel.receiverName" name="receiverName"  #receiverName="ngModel" required>
                      <div *ngIf="f.submitted && receiverName.invalid" class="invalid-feedback">
                            <div *ngIf="receiverName.errors.required" class="error-webapp">نام و نام خانوادگی گیرنده را وارد کنید</div>
                        </div>
                    </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                      <textarea placeholder="آدرس گیرنده" name="streetdestination" [(ngModel)]="destinationModel.street" #streetdestination="ngModel" required></textarea>
                      <div *ngIf="f.submitted && streetdestination.invalid" class="invalid-feedback">
                            <div *ngIf="streetdestination.errors.required" class="error-webapp">آدرس گیرنده </div>
                        </div>
                    </div>
              </div>

              <div class="order-form-field">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h3 class="titr-order-form">مرسوله</h3>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                      <select (change)="SelectPostPackType($event.target.value)">
                          <option *ngFor="let type of PostPackType" value="{{type.id}}" >{{type.title}} </option>
                      </select>

                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                      <select (change)="SelectPostPackCount($event.target.value)">
                          <option value="-1">تعداد</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                      </select>

                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      <a (click)="AcceptPacks()" class="btn btn-success add-pack-spa">+</a>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="packs-spa" >
                          <div *ngFor="let pack of packs; let i = index"  class="packs-spa-item">
                              <span>  {{i+1}}-</span>{{pack.count}} عدد {{getPostPackType(pack.typeId) }} ثبت شد <button (click)="deletepack(pack)">delete</button></div>
                      </div>
                      <span *ngIf="packs.length==0">حداقل یک بسته وارد کنید</span> 
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                      <input type="checkbox" (click)="PackingStatus($event)" id="pack-form-admin" class="check-radio-order" /><label for="pack-form-admin" class="text">بسته بندی</label>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                      <input type="checkbox"   [checked]="mainPacks.isInsurance"   (click)="InsuranceStatus($event)" id="bime-form-admin" class="check-radio-order" /><label for="bime-form-admin" class="text">بیمه</label>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="mainPacks.isInsurance==true">

                      <input name="insurancePrice"   type="text" placeholder="ارزش مرسوله" [hidden]="!mainPacks.isInsurance==true" required [(ngModel)]="mainPacks.insurancePrice" name="insurancePrice" #insurancePrice="ngModel" pattern="^\d+$"  />
                      <div *ngIf="f.submitted && insurancePrice.invalid  " class="invalid-feedback">
                            <div *ngIf="insurancePrice.errors.required" class="arzesh-pack">ارزش مرسوله خود را وارد کنید</div>
                            <div [hidden]="!insurancePrice.errors.pattern" class="error-webapp">لطفا عدد وارد کنید</div>

                        </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                      <textarea name="content" [(ngModel)]="mainPacks.content" placeholder="توضیحات مرسوله"></textarea>

                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                      <input (click)="paymentType(true,false)" type="radio" id="typeprice1-form-admin" class="check-radio-order" name="typeprice-form-admin" /><label for="typeprice1-form-admin" class="text">پرداخت نقدی در مبدا</label>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                      <input (click)="paymentType(false,0)" type="radio" id="typeprice2-form-admin" class="check-radio-order" name="typeprice-form-admin" /><label for="typeprice2-form-admin" class="text">پرداخت نقدی در مقصد</label>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                      <input (click)="paymentType(true,true)" type="radio" id="typeprice3-form-admin" class="check-radio-order" name="typeprice-form-admin" /><label for="typeprice3-form-admin" class="text">پرداخت آنلاین</label>

                  </div>
              </div>
              <div class="order-form-field">
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12"></div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      <div class="order-form-button">
                          <button class="btn btn-success" type="submit" >ثبت سفارش</button>
                      </div>
                  </div>

              </div>

          </form>
      </div>
  </div>
</div>